@import 'bootstrap/scss/mixins';
$size-sm: 65px;
$size-lg: 90px;
$spacing: 5px;

$container-size-sm: $size-sm*4 + $spacing*8;
$container-size-lg: $size-lg*4 + $spacing*8;

$color-2: rgb(255, 215, 0);
$color-4: rgb(54, 69, 79);
$color-8: rgb(210, 180, 140);
$color-16: rgb(210, 180, 140);
$color-32: rgb(255, 127, 80);
$color-64: rgb(54, 69, 79, 0.2);
$color-128: rgb(255, 127, 80, 0.5);
$color-256: rgb(0, 109, 91);
$color-512: rgb(0, 128, 128);
$color-1024: rgb(0, 109, 91, 0.5);
$color-2048: rgb(0, 128, 128, 0.5);

$color-background: rgb(255, 215, 0, 0.2);
$color-game-over-background: rgba(153, 153, 153, 0.8);
$color-container: #F4EBD0;

$color-black: #000000;
$color-white: #ffffff;